.chevron {
    width: 7px;
    height: 12px;
    background-color: var(--border-color);
    mask: url("../../../../icons/12/Chevron.svg") no-repeat center;
}

.dropdown {
    color: var(--tg-theme-accent-text-color);
}

.colorpicker {
    display: flex;
    gap: 6px;

    label {
        margin-top: 1px;
        font-variant-numeric: lining-nums tabular-nums;
        color: var(--tg-theme-accent-text-color);
    }

    input[type="color"] {
        appearance: none;
        border: none;
        width: 24px;
        height: 24px;
        padding: 0;
        margin: 0;
    }

    input[type="color"]::-webkit-color-swatch {
        border-radius: 50%;
    }

    input[type="color"]::-webkit-color-swatch-wrapper {
        padding: 0;
        border-radius: 50%;
    }
}

:global(body.apple) {
    .dropdown::after {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        background-color: var(--tg-theme-accent-text-color);
        mask: url("../../../../icons/12/Dropdown.svg") no-repeat center;
        margin-left: 5px;
    }

    .picker {
        background-color: var(--tertiary-fill-background);
        color: var(--tg-theme-text-color);
        padding: 7px 10px;
        border-radius: 18px;
    }
}

:global(body.material) {
    .picker {
        color: var(--tg-theme-accent-text-color);
    }
}
