.root {
    display: flex;
    border-radius: 16px;
    justify-content: flex-start;
    align-items: center;
    transition: background-color 250ms ease;

    &::after {
        transition:
            transform 250ms ease,
            border-color 250ms ease,
            opacity 250ms ease;
        content: "";
        background-color: white;
        border-radius: 50%;
        transform: translateX(0%);
    }

    &[data-state="true"]::after {
        transform: translateX(75%);
    }

    :global(body.apple) & {
        width: 64px;
        padding: 2px;
        background-color: var(--tg-theme-secondary-bg-color);

        &::after {
            width: 39px;
            height: 24px;
            border-radius: 12px;
            filter: none;
        }

        &[data-state="false"]::after {
            transform: translateX(0%);
        }

        &[data-state="true"]::after {
            border-color: var(--tg-theme-accent-text-color);
            transform: translateX(53%);
        }

        &[data-state="true"] {
            background-color: var(--text-confirm-color);
        }
    }

    :global(body.material) & {
        width: 32px;
        height: 14px;
        background-color: var(--tg-theme-section-separator-color);

        &::after {
            width: 16px;
            height: 16px;
            filter: 0;
            border: 2px solid var(--tg-theme-section-separator-color);
        }

        &[data-state="false"]::after {
            transform: translateX(-5%);
        }

        &[data-state="true"]::after {
            border-color: var(--tg-theme-button-color);
        }

        &[data-state="true"] {
            background-color: var(--tg-theme-button-color);
        }
    }
}
