.label {
    color: var(--tg-theme-text-color);
    font-variant-numeric: lining-nums tabular-nums;

    &.accent {
        color: var(--tg-theme-accent-text-color);
    }
}

.description {
    color: var(--tg-theme-text-color);
}

.caption {
    max-height: 18px;
    color: var(--tg-theme-subtitle-text-color);
}
