.root {
    background-color: var(--tg-theme-section-bg-color);
    transition: background-color 0.2s ease;

    .body {
        display: flex;
        padding: 16px 24px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        color: white;

        .data {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2px;
            text-align: center;
        }
    }

    .buttons {
        display: flex;
        flex-direction: row;
        padding: 0 16px 16px;
        gap: 8px;

        :global(body.apple) & {
            svg,
            path {
                width: 28px;
                height: 28px;
            }
        }

        :global(body.material) & {
            box-shadow: 0 0.33px 1px 0 rgb(0 0 0 / 6%);
            padding: 0 8px 8px;

            svg,
            path {
                width: 32px;
                height: 32px;
            }
        }
    }
}

.bannerContainer {
    padding: 16px 16px 0;

    .banner {
        padding: 8px 14px;
        border-radius: 10px;
        background: rgb(255 255 255 / 16%);
        color: white;
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
