:root {
    --picker-height: 200px;
    --item-height: 34px;
    --selected-translate-y: -17px; /* item height / 2 * (-1) */
}

.root {
    display: inline-grid;
    position: relative;
    padding: 0 16px;
    font-size: 22px;
    line-height: 28px;
    font-weight: 450;
    font-variant-numeric: lining-nums tabular-nums;

    .selected {
        position: absolute;
        width: calc(100% - 32px);
        height: var(--item-height);
        border-radius: 8px;
        background-color: var(--quaternary-fill-background);
        top: 50%;
        left: 0;
        transform: translateY(var(--selected-translate-y));
        margin: 0 16px;
        pointer-events: none;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: calc((var(--picker-height) - var(--item-height)) / 2);
        pointer-events: none;
        z-index: 1;
    }

    &::before {
        top: 0;
        background-color: var(--tg-theme-section-bg-color);
        mask-image: linear-gradient(
            to bottom,
            rgb(black, 0.9),
            rgb(black, 0.5)
        );
    }

    &::after {
        bottom: 0;
        background: white;
        background-color: var(--tg-theme-section-bg-color);
        mask-image: linear-gradient(
            to bottom,
            rgb(black, 0.5),
            rgb(black, 0.9)
        );
    }

    ul {
        max-height: var(--picker-height);
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        padding: 100px 0;
        margin: 0;
        transform-style: preserve-3d;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    li {
        display: flex;
        list-style: none;
        scroll-snap-align: center;
        height: var(--item-height);
        text-align: center;
        flex-direction: column;
        justify-content: center;
        color: var(--tg-theme-text-color);

        // background-color: rgba(red, 0.2);
        transform-origin: center center;
        will-change: transform;
    }
}

:global(body.apple) {
    .root {
        .selected {
            border-radius: 20px;
        }
    }
}
