.root {
    display: flex;
    align-items: center;
}

.space {
    gap: 8px;
}

.dot {
    gap: 0;

    > *:not(:first-child)::before {
        content: "·";
        margin: 0 3px;
        display: inline-block;
    }
}
