.root {
    display: flex;
    gap: 4px;
    justify-content: space-between;
    padding: 5px 16px;
    color: var(--tg-theme-section-header-text-color);

    &.Headline {
        padding: 24px 16px 4px;
        color: var(--tg-theme-text-color);
    }

    :global(body.apple) & {
        padding: 10px 16px;
    }

    :global(body.material) & {
        padding: 15px 20px 7px;

        &.Footer {
            padding: 12px 20px;
            color: var(--tg-theme-subtitle-text-color);
        }
    }
}
