.root {
    display: flex;
    position: relative;
    align-items: flex-start;
    align-self: stretch;
    box-shadow: 0 -0.33px 0 0 var(--separator-non-opaque);
    padding-bottom: env(safe-area-inset-bottom);

    :global(body.apple) & {
        position: absolute;
        left: 21px;
        right: 21px;
        bottom: var(--bottom-clearance, 21px);
        border-radius: 100px;
        padding: 4px;
        margin: 0;
        background: rgb(from var(--tg-theme-section-bg-color) r g b / 70%);
        backdrop-filter: saturate(300%) blur(8px);
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);

        @supports (-apple-visual-effect: -apple-system-glass-material) {
            -apple-visual-effect: -apple-system-glass-material;
            backdrop-filter: none;
        }
    }

    :global(body.material) & {
        position: absolute;
        left: 16px;
        right: 16px;
        bottom: var(--bottom-clearance, 16px);
        border-radius: 100px;
        padding: 4px;
        width: calc(100% - 32px);
        background: rgb(from var(--tg-theme-section-bg-color) r g b / 84%);
        backdrop-filter: blur(30px) saturate(10);
        box-shadow:
            0 1px 2px 0 rgb(0 0 0 / 8%),
            0 2px 16px 1px rgb(0 0 0 / 10%);
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: inherit;
        pointer-events: none;
    }

    &::before {
        background: rgb(from var(--quaternary-fill-background) r g b / 4%);
        z-index: 0;
    }

    &::after {
        box-shadow:
            inset 0 1px 0 0 #fff,
            inset 0 -0.5px 0 0 #fff;
        mix-blend-mode: soft-light;
        z-index: 2;
    }

    .content {
        display: flex;
        position: relative;
        width: 100%;
        z-index: 1;
    }

    .gradient {
        --mask-color: var(--tg-theme-secondary-bg-color);
        --mask-opacity-top: 0;
        --mask-opacity-bottom: 0.9;
        --overlay-padding-x: 21px;
        --overlay-padding-y: 21px;

        position: absolute;
        inset: 0;
        width: calc(100% + var(--overlay-padding-x) * 2);
        height: calc(64px + var(--overlay-padding-y) * 2);
        z-index: 0;
        margin: calc(var(--overlay-padding-y) * -1)
            calc(var(--overlay-padding-x) * -1);
    }

    .activeIndicator {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        height: 100%;
        border-radius: 2px 2px 0 0;
        z-index: 2;

        :global(body.apple) & {
            background-color: var(--secondary-button-color);
            border-radius: 100px;
            height: calc(100% - 8px);
            top: 4px;
            z-index: 1;
            margin-left: 4px;
            margin-right: 4px;
        }

        :global(body.material) & {
            background-color: var(--tg-theme-text-color);
        }
    }

    .clipPathContainer {
        position: absolute;
        display: flex;
        background-color: var(--tertiary-fill-background);
        width: calc(100% - 8px);
        clip-path: inset(0 calc(75% - 5px) 0 0% round 100px);
        will-change: clip-path;
        z-index: 10;
        overflow: hidden;
        transform: translateZ(0);
        isolation: isolate;
        backface-visibility: hidden;

        :global(body.apple) & {
            --active-color: var(--tg-theme-accent-text-color);
        }

        :global(body.material) & {
            --active-color: var(--tg-theme-text-color);
        }

        span {
            color: var(--active-color) !important;
        }

        svg,
        path,
        :global(.wallet-lottie_fill-color) path {
            fill: var(--active-color) !important;
        }

        :global(.wallet-lottie_stroke-color) path {
            stroke: var(--active-color) !important;
        }

        [data-overlay] {
            opacity: 1 !important;
        }
    }
}
