:root {
    --cover-height: min(37vh, 269px);
}

.root {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: #131314;

    .cover {
        flex: 0 0 auto;
        height: min(37vh, 269px);
        background-color: #131314;
        overflow: visible;
        display: flex;
        justify-content: center;
        position: relative;

        .image {
            height: var(--cover-height);
            aspect-ratio: 1 / 1;
            background-size: cover;
            background-position: center;
            z-index: 1;
            margin-top: calc(var(--cover-height) * 0.12);
            will-change: transform;

            &.coin {
                background-image: url("../../../images/Coin\ Image.webp");
            }

            &.disk {
                background-image: url("../../../images/Disk\ Image.webp");
            }

            &.planet {
                background-image: url("../../../images/Death\ Planet\ Image.webp");
            }
        }
    }

    .content {
        position: relative;
        flex: 1 1 auto;
        height: 100%;
        min-height: calc(100vh - 269px);
        background-color: var(--tg-theme-section-bg-color);
        color: var(--tg-theme-text-color);
    }
}

.BottomButtons {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 40px;
    padding-bottom: max(env(safe-area-inset-bottom), 8px);
}

.terms {
    text-align: center;
}
