.root {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding-bottom: calc(16px + env(safe-area-inset-bottom));
    background-color: var(--tg-theme-secondary-bg-color);

    section {
        display: flex;
        flex-direction: column;
        align-self: stretch;

        .card {
            display: flex;
            flex-direction: column;
            align-self: stretch;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-self: stretch;
        }

        .container > * {
            &:last-child {
                --cell-separator-height: 0;
            }
        }
    }

    :global(body.apple) & {
        padding: 16px;
        gap: 24px;

        section .container {
            background-color: var(--tg-theme-section-bg-color);
            border-radius: 26px;
            overflow: hidden;
        }
    }

    :global(body.material) & {
        padding: 12px;
        padding-bottom: calc(12px + env(safe-area-inset-bottom));
        gap: 12px;

        section .card {
            background-color: var(--tg-theme-section-bg-color);
            border-radius: 16px;
            overflow: hidden;
        }
    }
}
