$transition-duration: 200ms;
$transition-easing: cubic-bezier(0.26, 0.08, 0.25, 1);
$scale-factor: 1.02;

::view-transition-old(root) {
    animation-duration: $transition-duration;
    animation-timing-function: $transition-easing;
    animation-fill-mode: both;
    animation-name: slide-out;
}

::view-transition-new(root) {
    animation-duration: $transition-duration;
    animation-timing-function: $transition-easing;
    animation-fill-mode: both;
    animation-name: slide-in;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: scale($scale-factor);
        filter: blur(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
        filter: blur(0);
    }
}

@keyframes slide-out {
    from {
        opacity: 1;
        transform: scale(1);
        filter: blur(0);
    }

    to {
        opacity: 0;
        transform: scale($scale-factor);
        filter: blur(0);
    }
}

body.apple {
    @keyframes slide-in {
        from {
            opacity: 0;
            transform: scale(0.99);
            filter: blur(2px);
        }

        to {
            opacity: 1;
            transform: scale(1);
            filter: blur(0);
        }
    }

    @keyframes slide-out {
        from {
            opacity: 1;
            transform: scale(1);
            filter: blur(0);
        }

        to {
            opacity: 0;
            transform: scale($scale-factor);
            filter: blur(2px);
        }
    }
}
